#logo {
   width: 100px;
   height: 100px; 
}

h1, h3 {
    color: white;
    text-align: center;
}

#ranking1{
    color: darkgray;
    font-weight: bold;
    justify-content: center;
}

h2 {
    text-align: center;
    margin: 0;
    font-family: cursive;
}

p {
    font-family: cursive;
}

h3 {
    margin: 0;
    font-family: cursive;
}

header {
    text-align: center;
    background-color: black;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: white;
    font-family: cursive;
}

#parte1 {
    background-color: white;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

#parte2 {
    background-color: lightgray;
    border-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}


#ranking {
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
}

#manual {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
}

#contatos{
    background-color: lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logotipo{
    width: 200px;
    height: 200px;
}

#pesquisa{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}

#busca {
    text-align: center;
    width: 100px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#divbusca {
    background-color: #2F4F4F;
    border: solid 1px;
    border-radius: 15px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#txtbusca {
    padding-top: 10px;
}

.container {
    margin: 0 auto;
    justify-content: center;
    padding-left: 40%;
    padding-right: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    color: orange;
}

p {
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sociais {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav{
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

a{
    margin: 80px;
    justify-content: space-around;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.link {
    color: white;
    font-family: cursive; 
}